GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=global
PORT=8080
GENMEDIA_BUCKET=your-bucket-name
GEMINI_MODEL=gemini-3-flash-preview
#GEMINI_MODEL_LOCATION=global
GEMINI_TTS_MODEL=gemini-3.1-flash-tts-preview
#GEMINI_TTS_MODEL_LOCATION=global
