
:root {
  --md-ref-typeface-brand: "Google Sans", system-ui, sans-serif;
  --md-ref-typeface-plain: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-body-large-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-body-medium-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-body-small-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-label-large-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-label-medium-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-label-small-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-title-large-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-title-medium-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-title-small-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-headline-large-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-headline-medium-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-headline-small-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-display-large-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-display-medium-font: "Google Sans", system-ui, sans-serif;
  --md-sys-typescale-display-small-font: "Google Sans", system-ui, sans-serif;
}

:root {
  color-scheme: light dark;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans/GoogleSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans/GoogleSans-Italic-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
